<%= form_with(model: announcement) do |form| %>
  <% if announcement.errors.any? %>
    <div class="mb-5 text-center font-medium text-red-500" id="error_explanation">
      <h2 class="underline uppercase"><%= pluralize(announcement.errors.count, "error") %>:</h2>

      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-5">
    <%= form.label :title, class: "uppercase mb-2 font-medium" %>
    <%= form.text_field :title, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :category, class: "uppercase mb-2 font-medium" %>
    <%= form.select :category, [['General','general'],['Dues Reminder','dues reminder']], {}, class:'select select-bordered w-full max-w-xs' %>
  </div>

  <div class="field mb-5">
    <%= form.label :contents, class: "uppercase mb-2 font-medium" %>
    <%= form.text_area :contents, class: "textarea textarea-bordered w-full max-w-xs" %>
  </div>

  <div class="actions flex justify-center">
    <%= form.submit class: "btn btn-primary" %>
    
  </div>
<% end %>
