<p id="notice"><%= notice %></p>

<p>
  <strong>Send time:</strong>
  <%= @announcement.send_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @announcement.category %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @announcement.contents %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
