<p id="notice"><%= notice %></p>

<div class="rounded-xl border p-5 w-96 mx-auto shadow-md bg-gradient-to-r from-slate-200 to-slate-50">

  <p>
    <strong>Title:</strong>
    <%= @office.title %>
  </p>

  <p>
    <strong>Permissions:</strong>
    <%= @office.permissions %>
  </p>

    <div class="flex justify-center align-center mt-8">
      <%= button_to 'Back', offices_path, class: "btn btn-error btn-outline btn-xs", method: :get %> |    
      <%= button_to 'Show', @office, class: "btn btn-secondary btn-outline btn-xs", method: :get %>
    </div>
  </div>
