<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="mb-5 text-center font-medium text-red-500" id="error_explanation">
      <h2 class="underline uppercase"><%= pluralize(user.errors.count, "error") %>:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-5">
    <%= form.label :email, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :email, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :first_name, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :first_name, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :last_name, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :last_name, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :pronouns, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :pronouns, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :classification, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :classification, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :major, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :major, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :phone_number, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :phone_number, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mb-5">
    <%= form.label :role if can? :manage, User %>
    <%= form.select :role, [['Admin', 'admin'],['Moderator', 'moderator'], ['Member','member']], {}, class:'select select-bordered w-full max-w-xs' if can? :manage, User %>
  </div>

<div class="actions flex justify-center">
    <%= form.submit class: "btn btn-primary" %>    
  </div>
<% end %>
