<p id="notice"><%= notice %></p>
<h1 class="text-lg my-5 font-bold">Users</h1>


<div>
  <table class="table w-full table-fixed">
    <!-- head -->
    <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Pronouns</th>
      <th>Classification</th>
      <th>Major</th>
      <th>Phone number</th>
      <th>Role</th>
      <th><span class="sr-only">Modify</span></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="truncate"><%= user.email %></td>
        <td class="truncate"><%= user.first_name %></td>
        <td class="truncate"><%= user.last_name %></td>
        <td class="truncate"><%= user.pronouns %></td>
        <td class="truncate"><%= user.classification %></td>
        <td class="truncate"><%= user.major %></td>
        <td class="truncate"><%= user.phone_number %></td>
        <td class="truncate"><%= user.role %></td>
        <td class="truncate">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-secondary btn-xs">
              Options
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><%= link_to 'Show', user %></li>
            <li><%= link_to 'Edit', edit_user_path(user) if can? :update, User %></li>
            <li><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, User %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="flex justify-center">
<%= button_to 'New User', new_user_path, class: 'btn', method: :get %>
</div>