<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :name, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :name, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field mt-2">
    <%= form.label :description, class: "uppercase my-2 font-medium" %>
    <%= form.text_area :description, class: "textarea textarea-bordered w-full max-w-xs" %>
  </div>

  <div class="field mt-2">
    <%= form.label :meeting_time, class: "uppercase my-2 font-medium" %>
    <%= form.datetime_field :meeting_time %>
  </div>

  <div class="field mt-2">
    <%= form.label :location, class: "uppercase my-2 font-medium" %>
    <%= form.text_field :location, class: "input w-full max-w-xs input-bordered" %>
  </div>

  <div class="field">
    <%= form.label :duration, class: "uppercase my-2 font-medium" %>
    <%= form.time_select :duration, class: "select select-bordered w-full max-w-xs" %>
  </div>

  <div class="field my-5">
  <%= form.label :image, class: "uppercase my-2 font-medium" %>
  <% if @event.image.attached? %>
    <div class="flex justify-center">
    <%= image_tag @event.image, class: "w-52 rounded-lg drop-shadow-md mb-2" %>
    </div>
  <% end %>

  <%= form.file_field :image, class: "form-control file-input file-input-bordered w-full max-w-xs" %>
</div>

  <div class="actions flex justify-center mt-5">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
