<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @event.meeting_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration.strftime("%H:%M") %>
</p>

<p>
  <strong>Image:</strong>
  <% if @event.image.attached? %>
  <%= image_tag @event.image, style: "wisth: 250px;" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
