<%= form_with(model: due) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :transaction_date %>
    <%= form.datetime_select :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :amount_due %>
    <%= form.text_field :amount_due %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>