<%= form_with(model: due) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :transaction_date %>
    <%= form.datetime_select :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.order(:last_name).map { |user| [user.full_name, user.id] }, include_blank: true, id: "id_of_the_user_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :due_type %>
    <%= form.text_field :due_type %>
  </div>

  <div class="field">
    <%= form.label :is_paid %>
    <%= form.text_field :is_paid %>
  </div>

  <div class="field">
    <%= form.label :amount_due %>
    <%= form.text_field :amount_due %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>