<p id="notice"><%= notice %></p>

<h1>Dues</h1>

<table>
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Transaction date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dues.each do |due| %>
      <tr>
        <td><%= due.purpose %></td>
        <td><%= due.transaction_date %></td>
        <td><%= link_to 'Show', due %></td>
        <% if defined? @admin%>
          <td><%= link_to 'Edit', edit_due_path(due) %></td>
          <td><%= link_to 'Destroy', due, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Due', new_due_path %>
