<p id="notice"><%= notice %></p>

<h1 class="text-lg my-5 font-bold">Dues</h1>


<div>
  <table class="table w-max table-fixed">
    <!-- head -->
    <thead>
    <tr>
      <th>Purpose</th>
      <th>Transaction Date</th>
      <th>Member</th>
      <th>Payment Type</th>
      <th>Is Paid</th>
      <th>Amount Due</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th><span class="sr-only">Modify</span></th>
    </tr>
    </thead>
    <tbody>
    <% @dues.each do |due| %>
      <tr>
        <td class="truncate"><%= due.purpose %></td>
        <td><%= due.transaction_date %></td>
        <td><%= User.where(id: due.user_id)&.last&.full_name %></td>
        <td><%= due.due_type %></td>
        <td><%= due.is_paid %></td>
        <td><%= due.amount_due %></td>
        <td><%= due.created_at %></td>
        <td><%= due.updated_at %></td>
        <td class="text-center">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-secondary btn-xs">
              Options
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><%= link_to 'Show', due %></li>
            <li><%= link_to 'Edit', edit_due_path(due) if can? :update, Due %></li>
            <li><%= link_to 'Delete', due, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500" if can? :destroy, Due %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="flex justify-center">
<%= button_to 'New Dues', new_due_path, class: 'btn', method: :get %>
</div>