<p id="notice"><%= notice %></p>

<h1 class="text-lg my-5 font-bold">Dues</h1>


<p>
  <strong>Purpose:</strong>
  <%= @due.purpose %>
</p>

<p>
  <strong>Transaction Date:</strong>
  <%= @due.transaction_date %>
</p>

<p>
  <strong>Member ID:</strong>
  <%= @due.user_id %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @due.payment_type %>
</p>

<p>
  <strong>Payment Status:</strong>
  <%= @due.payment_status %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @due.created_at %>
</p>

<p>
  <strong>Updated At:</strong>
  <%= @due.updated_at %>
</p>

<%= link_to 'Edit', edit_due_path if can? :update, Due %>
<%= link_to 'Back', dues_path %>