<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= @due.purpose %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @due.transaction_date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @due.paid %>
</p>

<%= link_to 'Edit', edit_due_path(@due) %> |
<%= link_to 'Back', dues_path %>
