<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= @due.purpose %>
</p>

<p>
  <strong>Transaction Date:</strong>
  <%= @due.transaction_date %>
</p>

<p>
  <strong>Member ID:</strong>
  <%= @due.user_id %>
</p>

<p>
  <strong>Amount Due:</strong>
  <%= @due.amount_due %>
</p>

<p>
  <strong>Amount Paid:</strong>
  <%= @due.amount_paid %>
</p>

<% if defined? @admin%>
  <%= link_to 'Edit', edit_due_path(@due) %>
<% end %>
<%= link_to 'Back', dues_path %>