<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= @due.purpose %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @due.transaction_date %>
</p>

<% if defined? @admin%>
  <%= link_to 'Edit', edit_due_path(@due) %>
<% end %>
<%= link_to 'Back', dues_path %>