<%= form_with(model: attendance_record) do |form| %>
  <% if attendance_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance_record.errors.count, "error") %> prohibited this attendance_record from being saved:</h2>

      <ul>
        <% attendance_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.datetime_field :arrival_time %>
  </div>

 <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.order(:last_name).map { |user| [user.full_name, user.id] }, include_blank: true, id: "id_of_the_user_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, Event.order(:name).map { |event| [event.name, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
